*{
    padding: 20px auto;
    margin: 0 auto;
    
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #FAFAFA;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px auto; */
    background-color: #fff;
    border-bottom: 1px solid rgb(165, 164, 164);

}
header img{
    width: 30px;
    height: 30px;
}
header input{
    width: 300px;
    height: 50px;
    background: none;
    outline: none;
    border: none;

}
::placeholder{
    color: #919391;
    /* padding-left: 20px; */
    font-size: 16px;
}
form{
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
}
nav ul{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 15px;
}
